[mysqld]
# storage for db files (mounted as a volume)
# datadir = /var/lib/mysql
# socket = /run/mysqld/mysqld.sock

#--- InnoDB storage engine
innodb_file_per_table = 1
# memory buffer for cachung data and indexes
innodb_buffer_pool_size = 64M

#--- Networking
# allow connections from other containers
bind_address = 0.0.0.0
port = 3306

#--- Loggings
log_error = /var/lib/mysql/mariadb.err

user = mysql
